In [17]:
import pandas as pd

ratings = pd.read_csv('ratings_movies.csv')

import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
merged1['year']= get_year_release(arg)

ratings.info()
display(ratings.head())

NameError: name 'arg' is not defined

In [69]:
df = pd.read_csv('ratings_movies.csv')
import re
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg)
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
   #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
df['year_release'] = df['title'].apply(get_year_release)
print(df)
df_filtered = df[df['year_release'] == '1999']

        Unnamed: 0  userId  movieId  rating                 date  \
0                0       1        1     4.0  2000-07-30 18:45:03
1                1       1        3     4.0  2000-07-30 18:20:47
2                2       1        6     4.0  2000-07-30 18:37:04
3                3       1       47     5.0  2000-07-30 19:03:35
4                4       1       50     5.0  2000-07-30 18:48:51
...            ...     ...      ...     ...                  ...
100831      100831     610   166534     4.0  2017-05-03 21:53:22
100832      100832     610   168248     5.0  2017-05-03 22:21:31
100833      100833     610   168250     5.0  2017-05-08 19:50:47
100834      100834     610   168252     5.0  2017-05-03 21:19:12
100835      100835     610   170875     3.0  2017-05-03 21:20:15

                                 title  \
0                     Toy Story (1995)
1              Grumpier Old Men (1995)
2                          Heat (1995)
3          Seven (a.k.a. Se7en) (1995)
4           Usual Suspects, The (1995)
...                                ...
100831                    Split (2017)
100832   John Wick: Chapter Two (2017)
100833                  Get Out (2017)
100834                    Logan (2017)
100835  The Fate of the Furious (2017)

                                             genres  year_release
0       Adventure|Animation|Children|Comedy|Fantasy        1995.0
1                                    Comedy|Romance        1995.0
2                             Action|Crime|Thriller        1995.0
3                                  Mystery|Thriller        1995.0
4                            Crime|Mystery|Thriller        1995.0
...                                             ...           ...
100831                        Drama|Horror|Thriller        2017.0
100832                        Action|Crime|Thriller        2017.0
100833                                       Horror        2017.0
100834                                Action|Sci-Fi        2017.0
100835                  Action|Crime|Drama|Thriller        2017.0

[100836 rows x 8 columns]

In [74]:
import pandas as pd
df = pd.read_csv('ratings_movies.csv')
import re
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg)
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
   #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
df['year_release'] = df['title'].apply(get_year_release)
df_filtered = df[df['year_release'] == 1999]
print(df_filtered)
df_mean = df_filtered.groupby('title')['rating'].mean().sort_values(ascending=True)

        Unnamed: 0  userId  movieId  rating                 date  \
162            162       1     2502     5.0  2000-07-30 18:21:18
166            166       1     2571     5.0  2000-07-30 18:31:28
167            167       1     2580     5.0  2000-07-30 18:50:00
170            170       1     2617     2.0  2000-07-30 18:43:08
171            171       1     2628     4.0  2000-07-30 18:08:43
...            ...     ...      ...     ...                  ...
100090      100090     610    27317     4.0  2016-11-19 08:48:51
100169      100169     610    41712     4.0  2016-11-19 08:53:53
100677      100677     610   110281     4.0  2016-11-19 08:00:36
100797      100797     610   145951     0.5  2017-05-03 22:03:39
100815      100815     610   158721     3.5  2016-11-19 08:01:31

                                                   title  \
162                                  Office Space (1999)
166                                   Matrix, The (1999)
167                                            Go (1999)
170                                    Mummy, The (1999)
171     Star Wars: Episode I - The Phantom Menace (1999)
...                                                  ...
100090                         Audition (Ôdishon) (1999)
100169                    Room for Romeo Brass, A (1999)
100677           King of Comedy (Hei kek ji wong) (1999)
100797                Bloodsport: The Dark Kumite (1999)
100815                                 Gen-X Cops (1999)

                                                 genres  year_release
162                                        Comedy|Crime        1999.0
166                              Action|Sci-Fi|Thriller        1999.0
167                                        Comedy|Crime        1999.0
170     Action|Adventure|Comedy|Fantasy|Horror|Thriller        1999.0
171                             Action|Adventure|Sci-Fi        1999.0
...                                                 ...           ...
100090            Drama|Horror|Mystery|Romance|Thriller        1999.0
100169                                     Comedy|Drama        1999.0
100677                             Comedy|Drama|Romance        1999.0
100797                                  Action|Thriller        1999.0
100815                           Action|Comedy|Thriller        1999.0

[4536 rows x 8 columns]

In [105]:
import pandas as pd
df = pd.read_csv('ratings_movies.csv')
import re
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg)
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
   #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
df['year_release'] = df['title'].apply(get_year_release)

df.groupby(by='userId', as_index=False)['genres'].nunique().sort_values (by=['genres'], ascending=True)

     userId  genres
213     214      13
84       85      13
244     245      13
493     494      15
577     578      15
..      ...     ...
473     474     395
379     380     399
447     448     403
413     414     482
598     599     524

[610 rows x 2 columns]

In [114]:
import pandas as pd
df = pd.read_csv('ratings_movies.csv')
import re
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg)
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
   #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
df['year_release'] = df['title'].apply(get_year_release)

df.sort_values(by='userId', ascending=True)

df.groupby(by='userId')['rating'].agg(['mean', 'count']).sort_values (by=['count','mean'], ascending=[False,True])

            mean  count
userId
414     3.391957   2698
599     2.642050   2478
474     3.398956   2108
448     2.847371   1864
274     3.235884   1346
...          ...    ...
278     3.875000     20
569     4.000000     20
189     4.100000     20
595     4.200000     20
53      5.000000     20

[610 rows x 2 columns]

In [120]:
import pandas as pd
df = pd.read_csv('ratings_movies.csv')
import re
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg)
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
   #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
df['year_release'] = df['title'].apply(get_year_release)
df_filtered = df[df['year_release'] == 2018]

df1 = df.groupby(by='genres')['rating'].agg(['mean','count'])

df_filtered=df1[df1['count']>10].sort_values (by=['mean'], ascending=False)
                                       
print(df_filtered)

                                                     mean  count
genres
Crime|Thriller|War                               4.250000     30
Film-Noir|Romance|Thriller                       4.250000     20
Action|Adventure|Drama|Thriller|Western          4.236842     19
Action|Crime|Drama|IMAX                          4.231788    151
Action|Adventure|Comedy|Fantasy|Romance          4.225694    144
...                                                   ...    ...
Action|Children|Comedy                           2.045455     11
Action|Adventure|Children|Comedy|Fantasy|Sci-Fi  2.000000     21
Action|Crime|Fantasy                             1.964286     14
Action|Fantasy|Sci-Fi|Thriller                   1.923077     13
Action|Adventure|Children|Drama                  1.750000     14

[551 rows x 2 columns]

In [122]:
import pandas as pd
df = pd.read_csv('ratings_movies.csv')
import re
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg)
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
   #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None
df['year_release'] = df['title'].apply(get_year_release)
df[date] = pd.to_datetime(df[date])

df.groupby(by='year_release')['rating'].agg(['mean'])

                                       
print(df)

        Unnamed: 0  userId  movieId  rating                 date  \
0                0       1        1     4.0  2000-07-30 18:45:03
1                1       1        3     4.0  2000-07-30 18:20:47
2                2       1        6     4.0  2000-07-30 18:37:04
3                3       1       47     5.0  2000-07-30 19:03:35
4                4       1       50     5.0  2000-07-30 18:48:51
...            ...     ...      ...     ...                  ...
100831      100831     610   166534     4.0  2017-05-03 21:53:22
100832      100832     610   168248     5.0  2017-05-03 22:21:31
100833      100833     610   168250     5.0  2017-05-08 19:50:47
100834      100834     610   168252     5.0  2017-05-03 21:19:12
100835      100835     610   170875     3.0  2017-05-03 21:20:15

                                 title  \
0                     Toy Story (1995)
1              Grumpier Old Men (1995)
2                          Heat (1995)
3          Seven (a.k.a. Se7en) (1995)
4           Usual Suspects, The (1995)
...                                ...
100831                    Split (2017)
100832   John Wick: Chapter Two (2017)
100833                  Get Out (2017)
100834                    Logan (2017)
100835  The Fate of the Furious (2017)

                                             genres  year_release
0       Adventure|Animation|Children|Comedy|Fantasy        1995.0
1                                    Comedy|Romance        1995.0
2                             Action|Crime|Thriller        1995.0
3                                  Mystery|Thriller        1995.0
4                            Crime|Mystery|Thriller        1995.0
...                                             ...           ...
100831                        Drama|Horror|Thriller        2017.0
100832                        Action|Crime|Thriller        2017.0
100833                                       Horror        2017.0
100834                                Action|Sci-Fi        2017.0
100835                  Action|Crime|Drama|Thriller        2017.0

[100836 rows x 8 columns]